In [1]:
print("Hello World")

Hello World

In [2]:
import pandas as pd
df = pd.read_csv('sample-csv-files-sample4.csv')

In [ ]:
# Fetch the first five rows
df.head()

   Game Number   "Game Length"
0            1              30
1            2              29
2            3              31
3            4              16
4            5              24

In [ ]:
# Fetch the last 5 rows
df.tail()

     Game Number   "Game Length"
995          996              24
996          997              21
997          998              47
998          999              30
999         1000              12

In [5]:
# Statistical Analysis
df.describe()

       Game Number   "Game Length"
count  1000.000000     1000.000000
mean    500.500000       35.411000
std     288.819436       23.412608
min       1.000000        7.000000
25%     250.750000       19.000000
50%     500.500000       30.000000
75%     750.250000       45.000000
max    1000.000000      197.000000

In [ ]:
# Datatypes of the entries in the CSV File
df.dtypes

Game Number       int64
 "Game Length"    int64
dtype: object